/* XL (laptop) Device :1200px. */
@media (min-width: 1200px) and (max-width: 1767px) {
    
    #ordersMainPage .ordersSubTabContent .ordersNewTabTable tbody .orderTbleDate h4 {
        font-size: 13px;
        width: 90%;
    }   
    #ordersMainPage .ordersSubTabContent .ordersNewTabTable tbody .orderTbleStatus h4 {
        font-size: 12px;
        width: 70%;
    }
    #intregationsMainPage .intregationsMainPageContent tbody tr .intregationTableDate p {
        font-size: 13px;
        width: 65%;
    }







	#InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain>.table{
		width: 200% !important;
	}
	#InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain{
		overflow-x: scroll;
	}
	#InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-webkit-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-webkit-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-moz-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-moz-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-moz-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-o-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-o-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-o-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-ms-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-ms-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-ms-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
	
}




@media (min-width: 1200px) and (max-width: 1300px) {
   
}




/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
	#InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain>.table{
		width: 200% !important;
	}
	#InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain{
		overflow-x: scroll;
	}
	#InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-webkit-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-webkit-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-moz-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-moz-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-moz-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-o-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-o-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-o-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-ms-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-ms-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-ms-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

}


@media (max-width: 767px) {

}

/*-- Phone Landscape --*/
@media only screen and (min-width: 576px) and (max-width: 767px) {

}


/* Extra small Device. */
@media (max-width: 575px) {
    /*-- this is login responsive --*/
    .loginContainet {
        padding: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
}


























