/* XL (laptop) Device :1200px. */
@media (min-width: 1200px) and (max-width: 1767px) {
    
    #ordersMainPage .ordersSubTabContent .ordersNewTabTable tbody .orderTbleDate h4 {
        font-size: 13px;
        width: 90%;
    }   
    #ordersMainPage .ordersSubTabContent .ordersNewTabTable tbody .orderTbleStatus h4 {
        font-size: 12px;
        width: 70%;
    }
    #intregationsMainPage .intregationsMainPageContent tbody tr .intregationTableDate p {
        font-size: 13px;
        width: 65%;
    }







	#InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain>.table{
		width: 200% !important;
	}
	#InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain{
		overflow-x: scroll;
	}
	#InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-webkit-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-webkit-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-moz-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-moz-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-moz-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-o-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-o-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-o-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-ms-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-ms-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-ms-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
	
}




@media (min-width: 1200px) and (max-width: 1300px) {
   
}




/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
	#InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain>.table{
		width: 200% !important;
	}
	#InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain{
		overflow-x: scroll;
	}
	#InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-webkit-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-webkit-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-moz-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-moz-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-moz-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-o-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-o-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-o-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-ms-scrollbar {
        width: 2px;
        height: 5px;
    } 
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-ms-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    }  
    #InventoryMainPage .InventoryMainPageContent .InventoryMainPageContentMain::-ms-scrollbar-thumb {
        background-color: #4286f4;
        outline: 1px solid #fff;
    }
}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

}


@media (max-width: 767px) {

}

/*-- Phone Landscape --*/
@media only screen and (min-width: 576px) and (max-width: 767px) {

}


/* Extra small Device. */
@media (max-width: 575px) {
    /*-- this is login responsive --*/
    .loginContainet {
        padding: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
}

/*-- some custom media quirey --*/
@media (min-width: 1200px) and (max-width: 1431px) {
.c1pl0{
    padding-left: 0px !important;
}
.c1pr0{
    padding-right: 0px !important;
}
#orderDetailsPage .leftPanel .orderLeftPanelItemContiner {
    padding: 10px;
}
#orderDetailsPage .middlePanel .middlePanelMainTabArea #myTabContent .tab-pane .oderTabInfoTop .rightLink ul li {
    margin-left: 5px;
}
#orderDetailsPage .middlePanel .middlePanelMainTabArea #myTabContent .tab-pane .oderTabInfoTop .rightLink ul li .dropdown #dropdownMenuButton {
    padding: 5px 16px;
    width: 82px;
}
#orderDetailsPage .middlePanel .middlePanelTopArea .rightLinkInfo ul li a {
    padding: 6px 0px;
    padding: 3px 18px;
    margin-left: 7px;
}
#orderDetailsPage .middlePanel .middlePanelTopArea .rightLinkInfo ul .status p {
    padding: 2px 27px;
    font-size: 10px;
}
#orderDetailsPage .rightPanel .paymentStatusItem{
    padding: 20px;
}
#orderDetailsPage .rightPanel .fullfitmentDates{
    padding: 20px;
}
#orderDetailsPage .rightPanel .customersItme{
    padding: 20px;
}
#orderDetailsPage .rightPanel .shippingAddress{
    padding: 20px;
}
#orderDetailsPage .rightPanel .referanceNumber{
    padding: 20px;
}
#orderDetailsPage .middlePanel .middlePanelMainTabArea #myTabContent .tab-pane .oderTabInfoTop .rightLink ul li .dropdown #dropdownMenuButton > i {
    right: 5px;
}
#customerDetailsPage .customersMiddlePanle .customerOrerHistoryTable tbody .orderNumber {
    font-size: 13px;
}
#customerDetailsPage .customersMiddlePanle .customerOrerHistoryTable tbody .status p {
    padding: 3px 7px;
    font-size: 11px;
}
#customerDetailsPage .rightlPanleCustomers .customersItme{
    padding: 20px;
}
#customerDetailsPage .rightlPanleCustomers .addressCustomers{
    padding: 20px;
}
#inventoryDetailsPage .inventoryDetailsLeftPanel .mainLeftPanelArea .mainLeftPanelAreaItem {
    padding: 20px;
}
#inventoryDetailsPage .inventoryDetailsLeftPanel .mainLeftPanelArea .mainLeftPanelAreaItem .topInfo .left h4 {
    font-size: 12px;
}
#inventoryDetailsPage .inventoryMainPanelRight .toparea .left h3 {
    font-size: 12px;
}
#inventoryDetailsPage .inventoryMainPanelRight .toparea .right ul li .dropdown #dropdownMenuButton {
    width: 110px;
    font-size: 12px;
}
#inventoryDetailsPage .inventoryMainPanelRight .inventoryTable1 .table1DetailsTop .table thead tr th {
    font-size: 11px;
}
#inventoryDetailsPage .inventoryMainPanelRight .inventoryProductInfoTable .table thead tr th {
    font-size: 11px;
}



















}
























